<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
  <title>
   Scraper App - Result Index
  </title>
 </head>
 <body>
  <div class="table-responsive" style="width: 70%; margin-left: 15%;">
   <h1 style="margin-top: 20px; margin-bottom: 20px;">
    {{ type }}
    <a class="btn btn-lg btn-primary" href="{{ request.referrer }}" style="float: right;">
     Back To Homepage
    </a>
   </h1>
   <table class="table table-striped table-bordered">
    <tr>
     <th>
      Name
     </th>
     <th>
      Price (₦)
     </th>
     <th>
      Link
     </th>
    </tr>
    <tr>
     <td>
      32" LED HD TV -  LED32K8000 - Black
     </td>
     <td>
      ₦ 59,360
     </td>
     <td>
      <a href="https://www.jumia.com.ng/uka-32-led-hd-tv-led32k8000-black-54943903.html">
       See full page here
      </a>
     </td>
    </tr>
    <tr>
     <td>
      Bluetooth Home Theater+free DVD Player Dmi D4...
     </td>
     <td>
      ₦ 38,989
     </td>
     <td>
      <a href="https://www.jumia.com.ng/d-marc-bluetooth-home-theaterfree-dvd-player-dmi-d444-70092913.html">
       See full page here
      </a>
     </td>
    </tr>
    <tr>
     <td>
      Sound Bar System (TS 3010) 2.1CH Home Theater...
     </td>
     <td>
      ₦ 43,069
     </td>
     <td>
      <a href="https://www.jumia.com.ng/tcl-sound-bar-system-ts-3010-2.1ch-home-theater-with-bluetooth-45408211.html">
       See full page here
      </a>
     </td>
    </tr>
    <tr>
     <td>
      32" INCH SMART CURVED TV With Netflix (1year ...
     </td>
     <td>
      ₦ 89,999
     </td>
     <td>
      <a href="https://www.jumia.com.ng/polystar-32-inch-smart-curved-tv-with-netflix-1year-warranty-41784889.html">
       See full page here
      </a>
     </td>
    </tr>
    <tr>
     <td>
      32'' Inch  Smart Android  TV With Air Mouse &amp;...
     </td>
     <td>
      ₦ 72,850
     </td>
     <td>
      <a href="https://www.jumia.com.ng/infinix-32-inch-smart-android-tv-with-air-mouse-bluetooth-functionscreen-mirrowing-71343627.html">
       See full page here
      </a>
     </td>
    </tr>
    <tr>
     <td>
      32'', HD Digital TV – Black
     </td>
     <td>
      ₦ 59,360
     </td>
     <td>
      <a href="https://www.jumia.com.ng/uka-32-hd-digital-tv-black-68123876.html">
       See full page here
      </a>
     </td>
    </tr>
    <tr>
     <td>
      AVR-Pro 1.5hp Automatic Voltage Stabilizer (W...
     </td>
     <td>
      ₦ 19,900
     </td>
     <td>
      <a href="https://www.jumia.com.ng/qasa-avr-pro-1.5hp-automatic-voltage-stabilizer-wall-mount-51912457.html">
       See full page here
      </a>
     </td>
    </tr>
    <tr>
     <td>
      Mad Beat Bluetooth Home Theatre System 3.1 +F...
     </td>
     <td>
      ₦ 28,490
     </td>
     <td>
      <a href="https://www.jumia.com.ng/generic-mad-beat-bluetooth-home-theatre-system-3.1-free-dvd-player-70098528.html">
       See full page here
      </a>
     </td>
    </tr>
    <tr>
     <td>
      Bluetooth Mini-Hifi With Built-In Amplifier -...
     </td>
     <td>
      ₦ 57,999
     </td>
     <td>
      <a href="https://www.jumia.com.ng/polystar-bluetooth-mini-hifi-with-built-in-amplifier-pv-sub811-66346130.html">
       See full page here
      </a>
     </td>
    </tr>
    <tr>
     <td>
      4K Full HD 1080P 24MP 18X Zoom 3'' LCD TFT Di...
     </td>
     <td>
      ₦ 10,130
     </td>
     <td>
      <a href="https://www.jumia.com.ng/generic-4k-full-hd-1080p-24mp-18x-zoom-3-lcd-tft-digital-camcorder-video-dv-camera-usa-44687999.html">
       See full page here
      </a>
     </td>
    </tr>
    <tr>
     <td>
      5.1 Bluetooth Home Theater 2 Years Warranty
     </td>
     <td>
      ₦ 40,400
     </td>
     <td>
      <a href="https://www.jumia.com.ng/ufc-5.1-bluetooth-home-theater-2-years-warranty-71409223.html">
       See full page here
      </a>
     </td>
    </tr>
   </table>
  </div>
 </body>
</html>
